<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm" method="post">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <div class="checkbox-container">
                <input type="checkbox" id="rememberMe" name="rememberMe">
                <label for="rememberMe">Remember me</label>
            </div>
            <button type="submit">Login</button>
        </form>
        <div id="error-message" class="error-message"></div>
        <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
        <p><a href="#" id="forgotPassword">Forgot Password?</a></p>
        <div class="social-login">
            <button onclick="signInWithGoogle()">Sign in with Google</button>
            <!-- Add more social login buttons as needed -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script>
      window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</body>
</html>
