<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form id="registerForm" method="post">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <div id="error-message" class="error-message"></div>
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
        <div class="social-login">
            <button onclick="signUpWithGoogle()">Sign up with Google</button>
            <!-- Add more social login buttons as needed -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script>
      window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</body>
</html>
